@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
<script type="text/javascript">
    $(document).ready(function() {
        debugger;
    var appsettingvalue = '@Configuration.GetSection("MyKeyName").Value';
        $("#spanid").html(appsettingvalue);
    })

</script>
App Settings KeyValue accessed in the cshtml page : <span id="spanid"></span>